body, ul, li, p {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	text-align: center;
	margin-top: 10px;
}

.header {
	background-color: #00b386;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	align-items: center;
}

.menu {
	display: flex;
}

.menu li {
	margin-left: 10px;
}

.menu li a {
	display: block;
	padding: 10px;
}

#mapa {
	width: 100%;
	height: 450px;
}
/** Configurações do texto */
#texto {
	padding: 5px 5px;
}

footer {
	background-color: black;
	width: 100%;
	height: 50px;
}

footer p {
	color: white;
	text-align: center;
	padding-top: 15px;
}